/* app.scss */

// 1. Tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// 2. Google Fonts (optionnel)
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

// 3. Styles globaux (tu peux aussi les faire en @apply)
body {
  @apply bg-body font-sans;
}
